//Classi di debug per costruire il layout

.row.debug{
    background-color: rgb(255, 196, 0);
    padding: 1rem;
    border: 1px solid red;

  }

  .col.debug, .col-2.debug, .col-3.debug,.col-4.debug,.col-2.debug,.col-5.debug,.col-6.debug,.col-7.debug,.col-8.debug,.col-9.debug,.col-10.debug,.col-11.debug,.col-12.debug{
    background-color: rgb(56, 199, 224);
    height: 300px;
    border: 1px solid black;
  }

