// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$orange_primary: #EF9273;
$orange_secondary: #FFCEAF;
$blue_primary: #A5C7D8;
$blue_secondary: #E2E4E3;
$ms_light: #FEF9F8;
$ms_dark: #0D0D0D;

$nav_bg: #0D0D0D;
$nav_text: #fff;


