@import "./variables.scss";

.card-body {

    .form-group {
        display: flex;
        align-items: center;

        label.required-field::before {
            content: '* ';
            color: $red;
        }

        label.required-field::after {
            content: '\aRequired';
            white-space: pre;
            color: $red;
        }
    }
}
